<a href="https://colab.research.google.com/github/himeshdowlaghar/Statistical-Machine-Learning/blob/main/STML_Asgn_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/breast_cancer_survival[1].csv")
df=pd.DataFrame(data)
df

In [ ]:
df.drop(['Date_of_Surgery','Date_of_Last_Visit'],axis=1,inplace=True)
df

In [ ]:
x=df.drop(['Patient_Status'],axis=1)
y=df['Patient_Status']
x
y

0      0
1      1
2      0
3      0
4      0
      ..
329    0
330    0
331    1
332    0
333    1
Name: Patient_Status, Length: 334, dtype: int64

In [ ]:
string_columns = df.select_dtypes(include=['object']).columns
print(string_columns)

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for column in string_columns:
    df[column]=encoder.fit_transform(df[column])

In [ ]:
df

In [ ]:
model=SVC(kernel='linear',C=0.1)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print("Accuracy is ",accuracy)

Accuracy is  0.7761194029850746